#toast {
    display: none;
    position: absolute;
    max-width: 70px;
    max-height: 30px;
    background: #835afd;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 0 6px 0 2px;
    z-index: 1;
    left: 57%;
    top: 1%;
    font-size: 12px;

    &.show {
      display: block;
      -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
      animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }
}

.room-code {
  height: 40px;
  border-radius: 8px;
  overflow: hidden;

  background: #fff;
  border: 1px solid #835afd;
  cursor: pointer;

  display: flex;

  div {
    background: #835afd;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  span {
    display: block;
    align-self: center;
    flex: 1;
    padding: 0 16px 0 12px;
    width: 240px;
    font-size: 14px;
    font-weight: 500;
  }
}
